{% extends 'base.html' %}

{% block header %}
<div class="alert alert-primary" role="alert">
  <h3>Detail page</h3>
</div>
{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <p>タイトル:{{ object.title }}</p>
    <p>投稿者:{{ object.author }}</p>
    <p><img src='{{ object.sns_image.url }}' width="300px"></p>
    <a class="btn btn-primary" href="{% url 'good' object.pk %}" role="button">いいね</a>
    <a class="btn btn-secondary" href="#" role="button">既読</a>
  </div>
  <a class="btn btn-danger mt-5" href="{% url 'logout' %}" role="button">Logout</a>
</div>
{% else %}
please Login
{% endif %}
{% endblock content %}